<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
</head>
<body>
<form action="#" th:action="@{/student-create}" th:object="${student}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <label for="age">name</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    <input type="submit" value="Create Student">
</form>
</body>
</html>