<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update student</title>
</head>
<body>
<form action="#" th:action="@{/student-update}" th:object="${student}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <br/>
    <label for="age">name</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    <br/>
    <input type="submit" value="Update Student">
</form>

</body>
</html>